.Username {
  margin: 1em;
}

.Username-form-element {
  display: inline-block;
}

.Username-input {
  margin: 0 0.5em;
  padding: 0.3em;
  border: 1px solid gray;
  border-radius: 3px;
}

.Username-submit {
  display: inline-block;
  padding: 0.5em 0.8em;
  color: white;
  background-color: #9791a7;
  border: none;
  border-radius: 5px;
}
